@inherits LayoutComponentBase

<PageTitle>AppDIGESETT - Módulo Agente</PageTitle>

<div class="main-layout">
    <NavMenuAgente />
    <div class="content px-4">
        @Body
    </div>
</div>

@code {
    // Opcional: lógica adicional
}
