@inherits LayoutComponentBase

<PageTitle>AppDIGESETT - Oficina Central</PageTitle>

<div class="main-layout">
    <NavMenuOficinaCentral />
    <div class="content px-4">
        @Body
    </div>
</div>
