@page "/modulo-agente/acerca-de"
@using AppDIGESETT.Components.Layout
@layout MainLayoutAgente


<PageTitle>Acerca de</PageTitle>

<h1>Acerca de</h1>

<img src="image/perfil1.PNG" width="150px" alt="foto de estudiante">

<p><h3>Nombre Completo:</h3>Cristopher Alejandro Santana Peralta</p>

<p><h3>Matricula:</h3>20231193</p>



<img src="image/perfil2.jpg" width="150px" alt="foto de estudiante">

<p><h3>Nombre Completo:</h3>Jahaziel Joel Terrero Lorenzo </p>

<p><h3>Matricula:</h3>2023-1298</p>